In [112]:
import requests
import pandas as pd

In [113]:
# Vos identifiants Space Track
username = "virgil.mesle@gmail.com"
password = 'SpacetrackCSUM34'

# Payload pour l'authentification
auth_payload = {
    'identity': username,
    'password': password
}

In [114]:
def get_ST_query(link, auth) : 
    # URL pour l'authentification et la requête
    auth_url = 'https://www.space-track.org/ajaxauth/login'

    session = requests.Session()
    response = session.post(auth_url, data=auth_payload)
    if response.status_code == 200:
        print("Authentification réussie")
    else:
        print("Erreur lors de l'authentification")
        return(response.text)

    response = session.get(link)

    if response.status_code == 200:
        data = response.json()
        return(pd.DataFrame(data))

In [115]:
query_url = 'https://www.space-track.org/basicspacedata/query/class/satcat/COUNTRY/~~EGY/orderby/LAUNCH%20asc/limit/1000/emptyresult/show'

In [116]:
df_ST = get_ST_query(query_url, auth_payload)
df_ST.sample(5)

Authentification réussie

,INTLDES,NORAD_CAT_ID,OBJECT_TYPE,SATNAME,COUNTRY,LAUNCH,SITE,DECAY,PERIOD,INCLINATION,...,RCSVALUE,RCS_SIZE,FILE,LAUNCH_YEAR,LAUNCH_NUM,LAUNCH_PIECE,CURRENT,OBJECT_NAME,OBJECT_ID,OBJECT_NUMBER
12,2023-187B,58497,PAYLOAD,MISRSAT-2,EGYP,2023-12-04,JSC,None,97.31,97.98,...,0,LARGE,8884,2023,187,B,Y,MISRSAT-2,2023-187B,58497
3,2007-012A,31117,PAYLOAD,EGYPTSAT 1,EGYP,2007-04-17,TTMTR,None,97.52,97.97,...,0,MEDIUM,8882,2007,12,A,Y,EGYPTSAT 1,2007-012A,31117
7,2019-022E,44415,PAYLOAD,NARSSCUBE-2,EGYP,2019-04-17,WLPIS,2024-04-09,87.43,51.60,...,0,SMALL,8732,2019,22,E,Y,NARSSCUBE-2,2019-022E,44415
8,2019-080A,44800,PAYLOAD,TIBA-1,EGYP,2019-11-26,FRGUI,None,1436.11,0.06,...,0,None,8883,2019,80,A,Y,TIBA-1,2019-080A,44800
5,2014-021A,39678,PAYLOAD,EGYPTSAT 2,EGYP,2014-04-16,TTMTR,None,98.95,51.62,...,0,LARGE,8882,2014,21,A,Y,EGYPTSAT 2,2014-021A,39678

In [117]:
dic_satnogs = {
    "artifacts": "https://db.satnogs.org/api/artifacts/",
    "modes": "https://db.satnogs.org/api/modes/",
    "satellites": "https://db.satnogs.org/api/satellites/",
    "transmitters": "https://db.satnogs.org/api/transmitters/",
    "telemetry": "https://db.satnogs.org/api/telemetry/",
    "tle": "https://db.satnogs.org/api/tle/",
    "optical_observations": "https://db.satnogs.org/api/optical-observations/"
}

In [118]:
name = 'transmitters'
dic_satnogs[name]
r = requests.get(dic_satnogs[name])       #, auth=(DDP_USERNAME, DDP_PASSWORD))
try : 
    data = r.json()
    df_SATNOGS = pd.DataFrame.from_dict(data)
except : print(data)
df_SATNOGS

,uuid,description,alive,type,uplink_low,uplink_high,uplink_drift,downlink_low,downlink_high,downlink_drift,...,norad_follow_id,status,updated,citation,service,iaru_coordination,iaru_coordination_url,itu_notification,frequency_violation,unconfirmed
0,UzPz4gcsNBPKPKAFPmer7g,Upper side band (drifting),True,Transmitter,NaN,NaN,NaN,1.366585e+08,NaN,NaN,...,NaN,active,2019-04-18T05:39:53.343316Z,CITATION NEEDED - https://xkcd.com/285/,Unknown,N/A,,{'urls': []},False,False
1,xVNv3Gze2CGndzY9FxTixE,TLM,True,Transmitter,NaN,NaN,NaN,1.366500e+08,NaN,21954.0,...,NaN,active,2019-06-14T14:17:52.676090Z,https://network.satnogs.org/observations/705490/,Unknown,N/A,,{'urls': []},False,False
2,gXYjpx2iBkjdQn8htXSz8K,324 MHz beacon,True,Transmitter,NaN,NaN,NaN,3.240000e+08,NaN,NaN,...,NaN,active,2022-12-19T19:11:31.552031Z,http://www.svengrahn.pp.se/trackind/freqlist/S...,Radionavigational,N/A,,{'urls': []},False,False
3,PdfXaPCQAf6f9JzRUX86CG,162 MHz beacon,True,Transmitter,NaN,NaN,NaN,1.620000e+08,NaN,NaN,...,NaN,active,2022-12-19T19:11:26.990870Z,http://www.svengrahn.pp.se/trackind/freqlist/S...,Unknown,N/A,,{'urls': []},False,False
4,korwKBx6tqa8EZ9TeBhi68,150 MHz beacon,True,Transmitter,NaN,NaN,NaN,1.499880e+08,NaN,NaN,...,NaN,active,2022-12-19T19:11:22.148596Z,http://www.svengrahn.pp.se/trackind/freqlist/S...,Radionavigational,N/A,,{'urls': []},False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3613,HMUynnCZSoHspCP4J2fr3D,Telemetry,True,Transmitter,NaN,NaN,NaN,4.006000e+08,NaN,NaN,...,NaN,active,2024-08-29T17:30:48.471438Z,https://docs.google.com/document/d/1AP9yDThQX0...,Unknown,N/A,,{'urls': []},False,False
3614,2ZjLbY4VkHtxZhHwDMWy9H,Telemetry,True,Transmitter,NaN,NaN,NaN,4.012500e+08,NaN,NaN,...,NaN,active,2024-08-29T17:44:17.226279Z,https://docs.google.com/document/d/1ecXdn2Upiw...,Unknown,N/A,,{'urls': []},False,False
3615,4nv2g8c8VDRLNt6X6fKdLd,S-band telemetry,True,Transmitter,NaN,NaN,NaN,2.247322e+09,NaN,NaN,...,NaN,active,2024-09-01T16:32:50.270519Z,https://docs.google.com/document/d/1k9_Tp-yWA5...,Unknown,N/A,,{'urls': []},False,False
3616,9mXP9YFvM6PDpdrems7kbn,Telemetry,True,Transmitter,NaN,NaN,NaN,4.017000e+08,NaN,NaN,...,NaN,active,2024-09-03T11:05:26.837137Z,gr-satellites replay decode,Unknown,N/A,,{'urls': []},False,False
3617,FdxJrwmqFrJnP3sd96Bip8,Telemetry,True,Transmitter,NaN,NaN,NaN,4.012150e+08,NaN,NaN,...,NaN,active,2024-09-02T18:27:04.042030Z,https://docs.google.com/document/d/1XZF_1iwLcW...,Unknown,N/A,,{'urls': []},False,False

In [119]:
df_ST['NORAD_CAT_ID'] = df_ST['NORAD_CAT_ID'].astype(int)

In [120]:
df_SATNOGS = df_SATNOGS.filter(['norad_cat_id','description', 'alive', 'downlink_low', 'iaru_coordination', 'iaru_coordination_url','itu_notification',])

In [121]:
pd.concat([df_results, dfr])

,index,norad_cat_id,description,alive,downlink_low,iaru_coordination,iaru_coordination_url,itu_notification
0,2326.0,44047,Telemetry S-Band,True,2.270506e+09,N/A,,{'urls': []}
1,2890.0,55690,S-band telemetry,True,2.207280e+09,N/A,,{'urls': []}
2,2556.0,55844,S-band telemetry,True,2.262482e+09,N/A,,{'urls': []}
3,3204.0,58497,S-band telemetry,True,2.281081e+09,N/A,,{'urls': []}
3204,NaN,58497,S-band telemetry,True,2.281081e+09,N/A,,{'urls': []}

In [122]:
df_results = pd.DataFrame(columns=df_SATNOGS.columns)

for norad_id in df_ST['NORAD_CAT_ID']: 
    dfr = df_SATNOGS[df_SATNOGS['norad_cat_id'] == norad_id]
    if not dfr.empty : 
        df_results = pd.concat([df_results, dfr])
    else : print(f'{norad_id} not founded in Satnogs db')
df_results = df_results.reset_index()
df_results

25311 not founded in Satnogs db
44792 not founded in Satnogs db
26470 not founded in Satnogs db
31117 not founded in Satnogs db
36830 not founded in Satnogs db
39678 not founded in Satnogs db
44415 not founded in Satnogs db
44800 not founded in Satnogs db
52817 not founded in Satnogs db

/tmp/ipykernel_19645/641907176.py:6: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_results = pd.concat([df_results, dfr])

,index,norad_cat_id,description,alive,downlink_low,iaru_coordination,iaru_coordination_url,itu_notification
0,2326,44047,Telemetry S-Band,True,2.270506e+09,N/A,,{'urls': []}
1,2890,55690,S-band telemetry,True,2.207280e+09,N/A,,{'urls': []}
2,2556,55844,S-band telemetry,True,2.262482e+09,N/A,,{'urls': []}
3,3204,58497,S-band telemetry,True,2.281081e+09,N/A,,{'urls': []}

In [123]:
df_SATNOGS.merge(df_ST, right_on='NORAD_CAT_ID', left_on='norad_cat_id')

,norad_cat_id,description,alive,downlink_low,iaru_coordination,iaru_coordination_url,itu_notification,INTLDES,NORAD_CAT_ID,OBJECT_TYPE,...,RCSVALUE,RCS_SIZE,FILE,LAUNCH_YEAR,LAUNCH_NUM,LAUNCH_PIECE,CURRENT,OBJECT_NAME,OBJECT_ID,OBJECT_NUMBER
0,44047,Telemetry S-Band,True,2.270506e+09,N/A,,{'urls': []},2019-008A,44047,PAYLOAD,...,0,LARGE,8882,2019,8,A,Y,EGYPTSAT A,2019-008A,44047
1,55844,S-band telemetry,True,2.262482e+09,N/A,,{'urls': []},2023-032A,55844,PAYLOAD,...,0,LARGE,8883,2023,32,A,Y,HORUS 2,2023-032A,55844
2,55690,S-band telemetry,True,2.207280e+09,N/A,,{'urls': []},2023-025A,55690,PAYLOAD,...,0,LARGE,8883,2023,25,A,Y,HORUS 1,2023-025A,55690
3,58497,S-band telemetry,True,2.281081e+09,N/A,,{'urls': []},2023-187B,58497,PAYLOAD,...,0,LARGE,8884,2023,187,B,Y,MISRSAT-2,2023-187B,58497